.btn {
  color: black;
  border: black solid 0.5px;
  cursor: pointer;
  border-radius: 20px;
  padding: 3px 18px 3px 18px;
  transition: 0.3s;
}

.dark-dark {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.dark-dark:hover {
  color: rgb(255, 255, 255);
  background-color: var(--);
  border: rgb(255, 255, 255) solid 0.5px;
}

@media screen and (max-width: 420px) {
  .first-card-btn {
    display: none;
  }
}

.btn .dark {
  background-color: var(--noir);
  color: white;
  border: none;
}

.btn:hover {
  background-color: var(--noir);
  color: white;
}

.btn-container {
  padding-top: 20px;
}

.btn-container-main {
  padding-top: 5px;
}

.btn-article {
  border: 0.5px solid black;
  /*taille définie / padding: 10px 135px 10px 135px;*/
  background-color: var(--gris);
  transition: 0.3s;
  padding: 2%;
  display: block;
  width: 96%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
}

.btn-article:hover {
  color: white;
  background-color: black;
}
