.footer-card {
  background-color: var(--noir);
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1210px) {
  .footer-card {
    height: 210px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container-left {
    margin: 20px;
  }
}

.footer-container-left {
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
}

.footer-container-left ul {
  list-style: none;
  padding-top: 2%;
}

.footer-container-left li {
  padding-bottom: 15px;
  cursor: pointer;
}

.footer-mini-logo-container {
  padding-left: 2%;
  display: flex;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer-mini-logo-container {
    scale: 0.88;
    padding-top: 4px;
  }
}

.logo-footer {
  padding-left: 15px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logo-footer {
    padding-left: 10px;
  }
}

.footer-leamo {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .footer-leamo {
    padding-right: 10px;
  }
}

.footer-brand {
  justify-content: center;
  padding-left: 10%;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .footer-brand {
    font-size: 9px;
  }
}
