.footer-card {
  background-color: var(--noir);
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.footer-container-left {
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
}

.footer-container-left ul {
  list-style: none;
  padding-top: 6%;
}

.footer-container-left li {
  padding-bottom: 15px;
}
