.header-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 35px;
  padding-left: 2%;
  background-color: white;
}

.header-logo-container {
  display: flex;
  align-items: flex-start;
}

.header {
  height: 90px;
}
