.header-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 35px;
  padding-left: 2%;
  background-color: white;
}

.header-logo-container {
  display: flex;
  align-items: flex-start;
}

.header {
  height: 90px;
}

@media screen and (max-width: 650px) {
  .header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: 3%;
  }
}
