div .navigation-mobile {
  display: none;
}

nav,
.navigation-desktop-version {
  display: block;
}

@media screen and (max-width: 650px) {
  div .navigation-desktop-version {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  div .navigation-mobile {
    display: block;
  }
}

.navigation-desktop-version {
  display: flex;
  align-items: flex-end;
  padding-left: 3%;
}

.navigation-language {
  display: flex;
  align-items: flex-end;
}

.navigation-container-nav-desktop a {
  padding-left: 15px;
}

.navigation-mobile-version,
.navigation-mobile {
  display: flex;
  align-items: flex-end;
  padding-left: 40px;
}
