div .navigation-mobile {
  display: none;
}

nav,
.navigation-desktop-version {
  display: block;
}

@media screen and (max-width: 650px) {
  div .navigation-desktop-version {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  div .navigation-mobile {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
}

/*@media screen and (max-width: 650px) {
  div .navigation-mobile-version {
    align-items: flex-end;
  }
}*/

.navigation-desktop-version {
  display: flex;
  align-items: flex-end;
  padding-left: 3%;
}

.navigation-language {
  display: flex;
  align-items: flex-end;
}

.navigation-container-nav-desktop a {
  padding-left: 15px;
}

.navigation-container-nav-mobile {
  display: flex;
  flex-direction: column;
  padding-top: 30%;
}

.navigation-container-nav-mobile a {
  padding-top: 15px;
}

.navigation-mobile-version,
.navigation-mobile {
  align-items: flex-end;
  padding-left: 40px;
  position: absolute;
  top: 50px;
  right: 20px;
}

.navigation-mobile-version {
  background-color: rgb(255, 255, 255);
  border: 0.75px solid black;
  height: 270px;
  width: 180px;
  top: 20px;
  display: none;
}
