.recipes-title {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1210px) {
  .recipes-title,
  p {
    font-size: 11px;
  }
}

@media screen and (max-width: 1210px) {
  .recipes-title {
    font-size: 20px;
    width: 145px;
    font-weight: bold;
  }
}

.recipes-container {
  padding-top: 5%;
  padding-left: 8%;
}

@media screen and (max-width: 555px) {
  .recipes-container {
    padding-left: 5;
    padding-top: 15%;
  }
}

@media screen and (max-width: 1210px) {
  .recipes-container a {
    display: none;
  }
}

.recipes-container-img {
  padding-top: 2%;
}

.recipes-container-text {
  padding-top: 3%;
}

.recipes-img {
  margin-left: 15%;
  width: 280px;
  height: auto;
}

@media screen and (max-width: 1210px) {
  .recipes-img {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .recipes-img {
    width: 180px;
  }
}

@media screen and (max-width: 555px) {
  .recipes-container p {
    width: 175px;
  }
}

@media screen and (max-width: 400px) {
  .recipes-container p {
    width: 140px;
  }
}

@media screen and (max-width: 555px) {
  .recipes-img {
    width: 140px;
    margin-left: 10px;
    padding-top: 10px;
  }
}

.recipes-img-arrow {
  padding-left: 3%;
  padding-top: 3%;
}

@media screen and (max-width: 1210px) {
  .recipes-img-arrow {
    width: 18px;
    padding-top: 1%;
  }
}

.recipes-full-container {
  padding-top: 3%;
  padding-left: 3%;
}

.recipes-title-arrow-container {
  display: flex;
  align-items: center;
}
