.l-arrow img {
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: 0.3s;
}

.l-arrow:hover img {
  transform: rotate(45deg);
}

@media screen and (max-width: 1030px) {
  .l-arrow img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 420px) {
  .l-arrow img {
    width: 20px;
    height: 20px;
  }
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 8%;
  padding-right: 10%;
  padding-bottom: 10%;
}

@media screen and (max-width: 766px) {
  .arrow-container {
    padding-top: 3%;
    padding-bottom: 6%;
  }
}

.l-text {
  font-size: 18px;
  max-width: 600px;
}

@media screen and (max-width: 1370px) {
  .l-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 1030px) {
  .l-text {
    font-size: 13px;
  }
}
