.row > .col,
.row > [class^="col-"] {
  border: 0.2px solid rgba(60, 60, 60, 0.2);
}

.l-arrow img {
  width: 65px;
  height: 65px;
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 170px;
  padding-right: 35px;
}
